:root{

    --gap:16px;
    --colsnumb:3;
    --rows:500px;
    --colornav: rgba(105, 70, 232, 0.852)
    
}
* {
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(47, 45, 45);
    box-sizing: border-box;
    background-color: rgba(214, 214, 232, 0.22);
    


}

header, h1 {
    
    font-size: 100px;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgba(233, 175, 29, 0.608);
    color: white;
}
nav{
    padding: 20px;
  background-color:rgba(105, 70, 232, 0.391)
}

li{
   display: inline;
   font-weight: bold;
   border-style: dashed;
   margin: 30px;
   padding-left: 20px;
   padding-right: 1px; 
   position: relative;
   
}
a{
    font-size: 24px;
padding: 30px;

}


ul  {
    margin-top: 30px;
    font-size: 2em;
    font-weight: bold;
    padding: 30px;
    
}
p{
    font-size: 1em;
    width: 700px;
    padding: 20px;
    line-height: 20px;
}
h2 { 
    font-size: 4em;
    padding: 30px;
  
}
div.images-grid{
    margin: 0px;
    padding: 0px;
}
.images-grid{
    margin: 0;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--colsnumb),1fr);
    grid-auto-rows: var(--rows);
    gap: var(--gap);
}
.images-grid>img{
width: 100%;
height: 100%;
object-fit: cover;
}
.images-grid-col-2{
    grid-column: span 2;
}
.images-grid-row-2{
    grid-row: span 2;
}
a li footer{
  display: flex;
  padding: 20px;
  flex-direction: column;
  bottom: 0%;

  
}

@media screen and (max-width:1024px) {
 .images-grid{
    --colsnumb: 2;
    --rows: 200px;
 }
}

